<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contactus.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/">Shop</a></li>
                <li class="main-header_item"><a  href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="contactus-form" action="/contactus" method="POST">
            <div class="form-control">
                <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter Your Name">
        
                <label for="email">Email Id:</label>
                <input type="email" name="email" id="email" placeholder="Enter Your Email-Id">

                <label for="phone">Phone Number:</label>
                    <input type="number" name="phone" id="phone" placeholder="Enter Your Phone Number">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>